.AppRoot{
  width:100vw;
  height:100vh;
  position: relative;
}

/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.5);
}
.modal-container{
  position: absolute;
  right:30%;
  top:50%
}

*/
.modalParent{
  /* position: absolute;
  right:30%;
  top:250px; */
  display: flex;
  justify-content: center;
  align-items: center;
} 
/* .superAction{
  position:absolute;
  right:30%;
  top:230px
} */
.showModal{
  position: fixed;
  right:0;
  left:0;
  top:0;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0,0,0,.5);

} 
.showModal .myModal{
  background-color: white;
  position: relative;
  box-shadow: 0 2px 5px;
  width:300px;
  height:250px;

}
.parentContainer{
  position:relative;
}
#myNavbar{
  position: relative;
  display: flex;
  flex-direction: column;
  /* width:600px; */
  background: #61dafb;
  box-shadow: 0 2px 5px;
}
.hideNavbar{
  /* visibility: hidden; */
  /* height: 0; */
  animation: slide-out .5s ease-out forwards;
}
@keyframes slide-out {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
.hideBtn{
  display:none;
}

.showNavbar{
  visibility: visible;
  height: auto;
  animation: slide-in 0.5s ease-in forwards;
}
@keyframes slide-in{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

#myNavbar .socialContainer{
  display:flex;
  height:100%;
  align-items: flex-end;
  /* justify-self:baseline;
  align-self: baseline; */
}
.mainContainer{
  display:flex;
  gap:50px;
}
.mainContent{
  margin-right:20px;
}
li{
  margin-left:15px
}
#motto{
  margin-left:5px
}
.social{
  margin-right:20px;
  list-style:none;
  
  display:flex;
  /* position:absolute;
  bottom:5px; */
}
#myNavbar .navbarHeader{
  display:flex;
  gap:15px;
}
.top{
  list-style:none;
  display:flex;
  flex-direction: column;
  position: relative;
}
.menuBtn{
  height:40px;
  position:relative;
  top:5px;
  left:5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
