#myNavbar{
  background: #61dafb;
  box-shadow: 0 2px 5px;
}

li{
  margin-left:15px
}
#motto{
  margin-left:5px
}
.high{
  list-style:none;
  display:flex;
}
.top{
  list-style:none;
  display:flex;
}
.menuBtn{
  display:none;
  margin-right:40px;
}

@media only screen and (max-width:600px){
  .menuBtn{
    display:block;
    height:fit-content
  }
  .top, .high{
    flex-direction:column;
    display:none;
  }

  .top{
    position:absolute;
    left:2px;
    top:50px;
  }
  .toggleMenu{
    display:none;
  }
}

.toggleMenu{
  display:block;
}

@media only screen and (min-width:600px){
  .toggleMenu{
    display:flex;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
